<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/script.js' %}"></script>

<html>
    <head>
        <title>
            RetailX
        </title>
        <link rel="shortcut icon" href="/static/images/RetailX logo with fruits in trolly.png" type="logo">
    </head>
    <body>
        <center>
                <!-- <p>Index Page</p> -->
                <img src="/static/images/RetailX logo with fruits in trolly.png" />
                <!-- Demo Image Added -->
        </center>
    </body>
</html>