<!DOCTYPE html>
<html>
<head>
    <title>Simple Table</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table border="1" cellpadding="10" cellspacing="0">
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            {% for x in dic %}
            <tr>
                <td>{{x.sku}}</td>
                <td>{{x.product_name}}</td>
            </tr>
            {% endfor %}
        </table>
    </form>

</body>
</html>
